{% extends "main.html" %}

{% block herocontent %}
<h1 class="hero-text">Uczymy po Twojemu.</h1>
<h1>Bierzemy odpowiedzialność za edukację, oferując<br>długoterminowe, spersonalizowane szkolenia z Pythona (i nie tylko).</h1>
<div class="hero-bullets">
  <div class="hero-bullet">
      <div class="icon"><i class="fas fa-user-graduate"></i></div>
      <div class="hero-bullet-content">
      <strong>Program nauki szyty na miarę.</strong>
      <small>Na podstawie tego, co już wiesz. Tempo, sposób nadzoru pracy – wszystko dostosujemy do Ciebie.</small>
      </div>
  </div>
  <div class="hero-bullet">
      <div class="icon"><i class="fas fa-check"></i></div>
      <div class="hero-bullet-content">
      <strong>Pełen zakres umiejętności.</strong>
      <small>Szkolimy początkujących, średniozaawansowanych, zaawansowanych i profesjonalistów.</small>
      </div>
  </div>
  <div class="hero-bullet">
      <div class="icon"><i class="fas fa-comments"></i></div>
      <div class="hero-bullet-content">
      <strong>Komunikacja z Trenerem 24/7.</strong>
      <small>Łatwo stracić poczucie czasu, gdy najlepiej się koncentrujesz.</small>
      </div>
  </div>
  <div class="hero-bullet">
      <div class="icon"><i class="fas fa-code"></i></div>
      <div class="hero-bullet-content">
      <strong>Code review w obie strony.</strong>
      <small>Trener przegląda Twój kod, a Ty przeglądasz jego.</small>
      </div>
  </div>
  <div class="hero-bullet">
      <div class="icon"><i class="fas fa-code-branch"></i></div>
      <div class="hero-bullet-content">
      <strong>Open source.</strong>
      <small>Razem pomożemy światu poprzez wkład w projektach otwartoźródłowych.</small>
      </div>
  </div>
  <div class="hero-bullet">
      <div class="icon"><i class="fas fa-search"></i></div>
      <div class="hero-bullet-content">
      <strong>Skuteczny research.</strong>
      <small>Nie wkuwaj bez zrozumienia. Nauczymy Cię, gdzie i jak szukać.</small>
      </div>
  </div>
  <div class="hero-bullet">
      <div class="icon"><i class="fas fa-tools"></i></div>
      <div class="hero-bullet-content">
      <strong>Znajdowanie narzędzi w punkt.</strong>
      <small>Poznasz, co decyduje, czy jakieś oprogramowanie jest dobre dla danego problemu.</small>
      </div>
  </div>
  <div class="hero-bullet">
      <div class="icon"><i class="fas fa-book"></i></div>
      <div class="hero-bullet-content">
      <strong>Dokumentacja jako użyteczny materiał.<br>Kod jako źródło prawdy.</strong>
      <small>Oczytasz się i zaczniesz łapać w sekundy.</small>
      </div>
  </div>
  <div class="hero-bullet">
    <div class="icon"><i class="fas fa-undo"></i></div>
    <div class="hero-bullet-content">
    <strong><i>Loose coupling</i>.</strong>
    <small>Możesz wycofać się w każdym momencie bez dodatkowych kosztów.</small>
    </div>
  </div>
</div>
{% endblock %}
